 # Introduction to Scikit-Learn (sklearn)
 
 This notebook demonstrate some of the most useful functions of the Scikit-Learn library
 
 What are we're going to cover:
 
 0. An end-to-end Scikit-Learn workflow
 1. Getting the data ready
 2. Choose the right estimator/algorithm for our problems
 3. Fit the model/algorithm and use it to make predictions on our data
 4. Evaluating a model
 5. Improve a model
 6. Save and load a trained model
 7. Putting it all together!

### 0. An end-to-end Scikit-Learn workflow

### 1. Get the data ready

In [2]:
import pandas as pd
import numpy as np
heart_disease = pd.read_csv("../assigments_env/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Create x (features matrix)
X = heart_disease.drop("target", axis=1)

# Create y (labels)
y = heart_disease["target"]

### 2. Choose the right model and hyperparameters

In [1]:
from sklearn.ensemble import RandomForestClassifier  
clf = RandomForestClassifier(n_estimators=100)

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

### 3. Fit the model to the data

In [4]:
from sklearn.model_selection import train_test_split

# We are gonna use 80% of the data to train and the rest to test.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [5]:
# Asking to the classification model to find the patterns in the training data
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [6]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
38,65,0,2,155,269,0,1,148,0,0.8,2,0,2
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
131,49,0,1,134,271,0,1,162,0,0.0,1,0,2
80,41,1,2,112,250,0,1,179,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,66,1,0,112,212,0,0,132,1,0.1,2,1,2
155,58,0,0,130,197,0,1,131,0,0.6,1,0,2
26,59,1,2,150,212,1,1,157,0,1.6,2,0,2
102,63,0,1,140,195,0,1,179,0,0.0,2,2,2
168,63,1,0,130,254,0,0,147,0,1.4,1,1,3

In [7]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
221,55,1,0,140,217,0,1,111,1,5.6,0,0,3
88,54,0,2,110,214,0,1,158,0,1.6,1,0,2
282,59,1,2,126,218,1,1,134,0,2.2,1,1,1
197,67,1,0,125,254,1,1,163,0,0.2,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,49,1,2,120,188,0,1,139,0,2.0,1,3,3
157,35,1,1,122,192,0,1,174,0,0.0,2,0,2
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3
72,29,1,1,130,204,0,0,202,0,0.0,2,0,2

In [8]:
# Make a prediction with test data
y_preds = clf.predict(X_test) 
y_preds

array([0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1], dtype=int64)

In [9]:
y_test

221    0
88     1
282    0
197    0
301    0
      ..
208    0
157    1
292    0
8      1
72     1
Name: target, Length: 61, dtype: int64

### 4. Evaluate the model on the training data and test data

In [10]:
# Returns the mean accuracy on the given test data and labels
clf.score(X_train, y_train)

1.0

In [11]:
 clf.score(X_test, y_test)

0.8360655737704918

In [12]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# Shows us some classification metrics that compare the test labels to the predicctions labels
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.87      0.82      0.84        33
           1       0.80      0.86      0.83        28

    accuracy                           0.84        61
   macro avg       0.84      0.84      0.84        61
weighted avg       0.84      0.84      0.84        61

In [13]:
confusion_matrix(y_test, y_preds)

array([[27,  6],
       [ 4, 24]], dtype=int64)

In [14]:
accuracy_score(y_test, y_preds)

0.8360655737704918

 ### 5. Improve a model

In [15]:
# Try different amount of n_stimators
np.random.seed(42)
for i in range(10, 100, 10):
        print(f"Trying model with {i} estimators")
        clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
        print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
        print("")

Trying model with 10 estimators
Model accuracy on test set: 81.97%

Trying model with 20 estimators
Model accuracy on test set: 81.97%

Trying model with 30 estimators
Model accuracy on test set: 83.61%

Trying model with 40 estimators
Model accuracy on test set: 85.25%

Trying model with 50 estimators
Model accuracy on test set: 80.33%

Trying model with 60 estimators
Model accuracy on test set: 81.97%

Trying model with 70 estimators
Model accuracy on test set: 85.25%

Trying model with 80 estimators
Model accuracy on test set: 83.61%

Trying model with 90 estimators
Model accuracy on test set: 81.97%

 ### 6. Save the model and load it

In [16]:
import pickle

pickle.dump(clf, open("random_forst_model_1.pkl", "wb")) # wb = write binaries

In [17]:
loaded_model = pickle.load(open("random_forst_model_1.pkl", "rb")) # rb = read binaries
loaded_model.score(X_test, y_test)

0.819672131147541